/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.product {
  border-radius: 10px;
  background-color: #f2f0ea;
  color: black;
  margin-bottom: 10px;
  padding: 4px;
  height: 60px;
  display: grid;
}
.product .productTitle {
  font-size: 10px;
}

.product .planId {
  font-size: 8px;
  padding-left: 10px;
}
.product .orderBox{
  position: absolute;
  right: 24px;
}
