/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.form-table td{
    height: 24px;
    padding: 2px;
}
.form-table label{
    font-weight: bold;
}

.formheader {
    border-bottom: darkgrey thin solid;
}

.viewer {
    min-width: 800px;
    min-height: 800px;
}
.viewer iframe {
    min-width: 800px;
    min-height: 800px;
}